.card
    background white
    border 1px solid light-gray2
    border-radius 5px
    cursor pointer
    display block
    font-weight bold
    margin 0 10px
    margin-bottom 15px
    padding 10px
    position relative



    a
        color white



    &.success
        background #4cbe83
        color white !important



        md-icon
            color white
            margin-right 10px



    .description
        text-align center



    &.option
        background orange
        color white !important
