.container
    margin 0 auto
    width 980px



.row
    margin-bottom 15px
    padding 0 15px



    &::before
    &::after
        clear both
        content ''
        display table



.col-3, .col-2, .col-6,.col
    float left



.col
    width 100%



.col-2
    width 50%



.col-3
    width 33.333333333333%



.col-6
    width 66.6666666666666%
