.licenseplate
    background white
    border 15px double  blue-gft
    border-radius 30px
    box-shadow black 3px 2px 3px
    color blue-gft
    display block
    font-family helvetica
    font-weight 900
    margin 40px auto
    text-transform uppercase

    .header
        border-radius 10px 10px 0 0
        border-bottom 1px solid blue-gft
        width 100%



        &:before
        &:after
            clear both
            content ""
            display table

        div
            display block
            float left

        .sticker
            height 30px;
            position: relative;
            width 30%

            &:before
                background lightgray
                border 1px solid lightgray
                border-radius 50px
                content ""
                display block
                height 12px
                margin-top 5px
                position absolute
                width 34px
        .s1

            &:before
                right 0


    .state
        font-family 'Alex Brush'
        font-size 26px
        text-align center
        text-transform none
        width 40%


    .number
        font-size 18px
        margin 20px 10px
        text-align center
        text-shadow black 1px 1px 3px
