.header
	.menu
		.content-up
			padding 0 50px
			background blue-gft
			color white
			height 60px



			.title
				float left
				font-size 25px
				line-height 60px



			.options
				float right
				line-height 60px
				margin-right 20px



				.icon
					color white



				.settings
				.notifications
					cursor pointer
					float left
					padding 0 10px


				.notifications
					position relative



					.numers-notifications
						background red
						border-radius 50%
						font-size 12px
						height 20px
						position absolute
						right 5px
						top 10px
						width 20px




						.number
							color white
							left 0
							position absolute
							right 0
							text-align center
							top -20px



		.content-down
			padding 0 50px
			height 80px
			background white
			box-shadow 0px 3px 2px rgba(light-gray4, 0.5)



			.list-menu
				display inline-block



				.item-menu
					float left
					padding 18px 20px
					text-align center
					cursor pointer
					border-bottom 2px solid transparent
					transition all 0.3s



					&:hover
						border-bottom 2px solid light-gray5




					.icon
						margin-bottom 5px
						color light-gray5



					.text
						display block
						color light-gray5
						// font-weight 100
						font-size 12px
