
md-dialog(aria-label='List dialog')
	md-dialog-content
		md-toolbar.md-hue-2
			div.md-toolbar-tools
				h2
					span {{car.plate}}

		md-list
			md-list-item.md-2-line
				md-icon directions_car
				div(class="md-list-item-text")
					h3 {{car.brand}}
					p Marca
			md-list-item.md-2-line
				md-icon directions_car
				div(class="md-list-item-text")
					h3 {{car.model}}
					p Modelo
			md-list-item.md-2-line
				md-icon directions_car
				div(class="md-list-item-text")
					h3 {{car.color}}
					p Color
			md-list-item.md-2-line
				md-icon directions_car
				div(class="md-list-item-text")
					h3 {{car.plate}}
					p Placas
			md-list-item.md-2-line
				md-icon directions_car
				div(class="md-list-item-text")
					h3 {{car.type}}
					p Tipo
			md-list-item.md-2-line
				md-icon directions_car
				div(class="md-list-item-text")
					h3 {{car.year}}
					p Año
