.container-main-sign
	background blue
	bottom 0
	left 0
	position absolute
	right 0
	top 0





	.container-signin
		background white
		border-radius 10px
		bottom 0
		left 0
		height 350px
		margin auto
		padding 30px
		position fixed
		right 0
		top 0
		width 460px
		z-index 0




		.title
			color white
			font-size 25px
			left 200px
			position absolute
			top -50px



			.text
				display inline-block
				vertical-align middle



			.logo
				vertical-align middle
				width 23px



		.subtitle
			color light-gray5
			font-size 25px
			margin-top 20px
			text-align center




		.user-data
			margin 50px 0 10px 0




		.buttons
			float right
