
md-input-container:not(.md-input-invalid).md-input-focused
	.md-input
		border-color blue-gft



	.material-icons
		color blue-gft



	label
		color blue-gft



md-input-container:not(.md-input-invalid)
	.md-input
		color dark-gray


	.material-icons
		color rgba( black, 0.4)
