div.container-main-sign( ng-controller="SignCtrl" )
    div.container-signin
        div.title
            img.logo(src="https://media.glassdoor.com/sqll/935116/gft-technologies-squarelogo-1453741774148.png")
            div.text GFT
        div.subtitle Estacionamientos GFT
        div.user-data
            md-input-container.md-block
                label Nombre de usuario
                md-icon account_circle
                input( type="text" ng-model="user.username" )

            md-input-container.md-block( flex-gt-sm="" )
                label Contraseña
                md-icon vpn_key
                input( type="password" ng-model="user.password" )

        div.buttons
            md-button.md-raised.md-primary(ng-click="login()") Iniciar sesión
