footer
    div.container
        ul Integrantes
            a(href="#")
                li Jorge Jaime
            a(href="#")
                li Cristian Ramirez
            a(href="#")
                li Edgar Ramirez
