div.header
    nav.menu
        div.content-up
            div.container
                div.title GFT
                div.options
                    div.settings
                        md-icon.icon settings
                    div.notifications
                        md-icon.icon notifications
                        span.numers-notifications
                            span.number 10
        div.content-down
            div.container
                ul.list-menu
                    li.item-menu( ui-sref="normal" )
                        md-icon.icon account_circle
                        span.text Dashboard
                    li.item-menu( ui-sref="normal-profile" )
                        md-icon.icon account_circle
                        span.text Perfil
                    li.item-menu( ui-sref="normal-cars" )
                        md-icon.icon directions_car
                        span.text Autos
                    li.item-menu( ui-sref="normal-requests" )
                        md-icon.icon label
                        span.text Solicitudes
