

// Colores

green = 		#17C09F
blue = 			#0186ED
blue-gft =		#213E7F
light-blue = 	#01A9DA
red = 			#E23E3D
light-gray1 = 	#FAFAFA
light-gray2 = 	#D1D1D1
light-gray3 = 	#EDEFF0
light-gray4 = 	#A6A7A7
light-gray5 = 	#6a6c6f
light-gray6 = 	#EDF0F5
light-gray7 = 	#F5F7F9
dark-gray = 	#545555


// auto
car-default =   #3498db
glass       =   #295d55
taillights  =   #D92626
lights      =   yellow



// Dashboard admin
green2      =   #10c469
