section.container.margin30.paddingTb15
    div.row
        div.col-2

            div.card.success
                span.description
                    p
                        md-icon done
                        | Felicidades, este mes tienes estacionamiento
                img.meme( src = "http://memeschistosos.net/wp-content/uploads/2015/10/memesdefelicitaciones14.jpg")

            div.card.option
                a( ui-sref ="normal-cars" )
                    span.description
                        p Agregar auto

            div.card.option
                a( ui-sref ="parking" )
                    span.description
                        p Aprende a estacionarte

        div.col-2
            div.content-car
                h1 volkswagen sedan

                div( class="car" )
                    div( class="car-front" )
                    div( class="car-middle" )
                    div( class="car-back" )


                div.licenseplate
                    div.header
                        div.sticker.s1
                        div.state GFT
                        div.sticker.s2
                    div.number MXG-93-51

    div.row
