.normal-profile-cars
	position relative
	transition all 0.3s


	.options
		position absolute
		right 10px
		top 10px


	&.car-selected
		margin-right 360px



		.car-details
			right 0px



	.car-details
		background white
		bottom 0
		box-shadow -3px 3px 2px rgba(166,167,167,0.5)
		padding 10px 5px
		position fixed
		right -360px
		top 140px
		transition all 0.3s
		width 350px



		.title
			color dark-gray
			font-size 25px
			font-weight bold
			text-align center



		.car-data
			margin 10px 0
			.brand
			.model
			.plate
				color rgba( dark-gray, 0.8 )
				font-size 18px
				padding 2px 0
				text-align center
			.brand
				font-size 20px



		.timeline
			margin-left 40px
			margin-top 30px



			.item
				border-left 1px solid light-gray4
				padding-bottom 40px
				position relative



				&:before
					border-radius 50%
					content ""
					display inline-block
					height 12px
					margin 0 10px 5px -7px
					width 12px



				.date
					color dark-gray
					font-weight 100
					vertical-align text-bottom



				&:last-child
					&:after
						background light-gray2
						border-radius 50%
						bottom 0
						content ""
						height 7px
						left -4px
						position absolute
						width 7px



				&:nth-child(1n)
					border-left-color blue



					&:before, &:after
						background blue



				&:nth-child(2n)
					border-left-color red



					&:before, &:after
						background red



				&:nth-child(3n)
					border-left-color green



					&:before, &:after
						background green



	.container-cars-cards
		padding 50px
		text-align center



		.car-card
			background white
			border 1px solid light-gray2
			border-radius 5px
			cursor pointer
			display inline-block
			height 150px
			margin 10px
			outline none
			overflow hidden
			position relative
			width 400px



			.options
				position absolute
				right 0
				top 0



			.check-selected
				border-right 0 solid transparent
				border-top 0 solid blue-gft
				height 0
				left 0
				position absolute
				top 0
				width 0
				transition all 0.3s



				.check
					color white
					left 0
					position absolute
					top -40px



				&.selected
					border-right 40px solid transparent
					border-top 40px solid blue-gft



			.image
				background-image url('https://pixabay.com/static/uploads/photo/2015/10/01/17/17/car-967387_960_720.png')
				background-position -3px
				background-repeat no-repeat
				background-size 122px
				border-radius 50%
				border-right 1px solid light-gray2
				float left
				height 100px
				margin 20px
				width 100px



			.car-data
				box-sizing border-box
				float left
				font-weight 500
				height 100%
				padding 15px
				text-align left



				.plate
					color dark-gray
					font-size 20px
					font-weight 500
					margin-bottom 10px



				.model
				.brand
					color light-gray4
					font-weight 100



				.default
					bottom 15px
					color dark-gray
					font-size 15px
					position absolute
					right 15px
