.content-car
    text-align center

    h1
        text-transform uppercase


    .car
        margin-bottom 70px
        margin-top 100px
        transform rotate(-90deg)

    .licenseplate
        width 300px

.card

    img.meme
        width 300px
        display none
        z-index 99

    &:hover

        img.meme
            display block
            position absolute
