.container-profile
	margin-top 10px



	.primary-container
		background white



		.actions
			padding 70px 0 30px 0
			text-align center



			.edit-profile
			.cancel-account
				border 1px solid light-gray2
				width 40px
				height 40px
				text-align center
				padding-top 6px
				border-radius 50%
				display inline-block
				vertical-align middle
				background light-gray1
				cursor pointer



				&:hover
					background light-gray3



			.image-profile
				margin 0 30px
				vertical-align middle
				display inline-block



				.img
					border-radius 50%
					width 100px
					height 100px



		.name
			color dark-gray
			text-align center
			font-size 25px
			padding-bottom 70px



	.segundary-container
		border-top 1px solid light-gray2
		background light-gray7



		.data-profile
			text-align center



			.item-data
				display inline-block
				border-left 1px solid light-gray2
				padding 20px



				.title
					font-size 12px
					color light-gray5
					margin-bottom 10px
					font-weight 100



				.text
					font-size 16px
					color dark-gray



				&:first-child
					border-left none
